/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

body{
    font-weight: Georgia, serif;
    line-height: 1.6;
}

h2 {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

a {
    color: #aa6666;
}

a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

aside {

    background-color: #f4f4f4;
    padding: 20px;
}